{% extends 'base/base.html' %}
{% load static %}
{% block title %} {{ request.resolver_match.url_name|title }} {% endblock %}
{% block content %}
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">Cart</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        <!-- Cart Start -->
        <div class="cart-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="cart-page-inner">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Product</th>
                                            <th>color</th>
                                            <th>size</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                            <th>discount</th>
                                            <th>Total Price</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-middle">
                                    {% for i in cart %}
                                        <tr>
                                            <td>
                                                <div class="img">
                                                    {% with i.product.images.all|first as f %}
                                                        {% if f %}
                                                        <a href="{% url 'product:detail' i.product.slug %}"><img src="{{ f.image.url }}" alt="Image"></a>
                                                        {% endif %}
                                                    {% endwith %}
                                                    <p>{{ i.product.title }}</p>
                                                </div>
                                            </td>
                                            <td>{{ i.size }}</td>
                                            <td>{{ i.color }}</td>
                                            <td>${{ i.price }}</td>
                                            <td>
                                                {{ i.quantity }}
                                            </td>
                                            <td>${{ i.total }}</td>
                                            <td>%{{ i.discount }}</td>
                                            <td>${{ i.per_total_price }}</td>
                                            <td><a href="{% url 'cart:delete' i.uniqueid %}"><i class="fa fa-trash"></i></a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="cart-page-inner">
                            <div class="row">
                                <div class="col-md-12">
                                    <form method="post" action="{% url 'cart:applycoupon' %}">
                                        {% csrf_token %}
                                    <div class="coupon">
                                        <input name="code" type="text" placeholder="Coupon Code">
                                        <button type="submit">Apply Code</button>
                                    </div>
                                    </form>
                                </div>
                                <div class="col-md-12">
                                    <div class="cart-summary">
                                        <div class="cart-content">
                                            <h1>Cart Summary</h1>
                                            {% if not cart.sum_total_price == 7 %}
                                            <p>delivery<span>$7</span></p>
                                            <h2>Grand Total<span>${{ cart.get_total_price_after_discount }}</span></h2>
                                            {% else %}
                                            <p>delivery<span>$0</span></p>
                                            <h2>Grand Total<span>$0</span></h2>
                                            {% endif %}
                                        </div>
                                        <div class="cart-btn">
                                            {% if not request.user.is_authenticated %}
                                            <a class="btn" href="{% url 'account:login' %}">Checkout</a>
                                            {% else %}
                                            <a class="btn" href="{% url 'cart:order_create' %}">Checkout</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cart End -->
    <script>

{% endblock %}