{% extends 'base/base.html' %}
{% load static %}
{% load mytags %}
{% block title %} {{ object.get_absolute_url }} {% endblock %}
{% block content %}
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">Product Detail</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Product Detail Start -->
        <div class="product-detail">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="product-detail-top">
                            <div class="row align-items-center">
                                <div class="col-md-5">
                                    <div class="product-slider-single normal-slider">
                                        {% for i in object.images.all %}
                                        <img src="{{ i.image.url }}" alt="Product Image">
                                        {% endfor %}
                                    </div>
                                    <div class="product-slider-single-nav normal-slider">
                                        {% for j in object.images.all %}
                                        <div class="slider-nav-img"><img src="{{ j.image.url }}" alt="Product Image"></div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="product-content">
                                        <div class="title"><h2> {{ object.title }} </h2></div>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="price">
                                            <h4>Price:</h4>
                                            <p>
                                                {% if object.discount %}
                                                    ${{ object.discount_price }}
                                                    <span>${{ object.price }} </span>
                                                {% else %}
                                                    ${{ object.price }}
                                                {% endif %}
                                            </p>
                                        </div>
                                        <div class="quantity">
                                            <h4>Quantity:</h4>
                                            <div class="qty">
                                                <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                                <input type="text" value="1">
                                                <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                            </div>
                                        </div>
                                        <div class="p-size">
                                            <h4>Size:</h4>
                                            <div class="form-check form-check-inline">
                                                {% for i in object.size.all %}
                                                <input  type="radio" class="form-check-input" value="{{ i.title }}" id="{{ i.title }}" name="size" >
                                                <label class="form-check-label" for="{{ i.title }}" style="margin-right: 20px">{{ i.title }}</label>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="p-color">
                                            <h4>Color:</h4>
                                            <div class="form-check form-check-inline">
                                                {% for i in object.color.all %}
                                                    <input  type="radio" class="form-check-input" value="{{ i.title }}" id="{{ i.title }}" name="color">
                                                    <label class="form-check-label" for="{{ i.title }}" style="margin-right: 20px">{{ i.title }}</label>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="action">
                                            <a class="btn" href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                                            <a class="btn" href="#"><i class="fa fa-shopping-bag"></i>Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row product-detail-bottom">
                            <div class="col-lg-12">
                                <ul class="nav nav-pills nav-justified">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="pill" href="#description">Description</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="pill" href="#specification">Specification</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="pill" href="#reviews"> {% cmt_counter object.id %} Comment </a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div id="description" class="container tab-pane active">
                                        <h4>Product description</h4>
                                        <p>
                                            {{ object.description }}
                                        </p>
                                    </div>
                                    <div id="specification" class="container tab-pane fade">
                                        <h4>Product specification</h4>
                                        <ul>
                                            {% for i in object.informations.all %}
                                            <li> {{ i.text }} </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <!--comment-->
                                    <div id="reviews" class="container tab-pane fade">
                                        {% for i in object.comment.all %}
                                            {% if i.parent == None %}
                                        <div class="reviews-submitted">
                                            <div class="reviewer">
                                                {% if i.user.image.url != None %}
                                                    <img src="{{ i.user.image.url }}" style="max-width: 80px">
                                                {% else %}
                                                    <img src="{% static 'img/user.jpg' %}" style="max-width: 80px">
                                                {% endif %}
                                                {{ i.user.email }} - <span> {{ i.created_at }} </span>
                                            </div>

                                            <p>
                                                {{ i.body }}
                                            </p>

                                            <button  onclick="set_value('{{ i.id }}')" class="btn btn-primary">reply</button>

                                            <!-- REPLY -->
                                            {% for j in i.children.all %}
                                                {% if j.parent != None %}
                                            <div class="review-reply" style="margin-left: 50px; border-left: 2px solid #ccc; padding-left: 15px; margin-top: 30px;">
                                                <div class="reviewer">
                                                    {% if j.user.image.url != None %}
                                                        <img src="{{ j.user.image.url }}" style="max-width: 80px">
                                                    {% else %}
                                                        <img src="{% static 'img/user.jpg' %}" style="max-width: 80px">
                                                    {% endif %}
                                                    {{ j.user.email }} - <span> {{ j.created_at }} </span>
                                                </div>
                                                <p>
                                                    {{ j.body }}
                                                </p>
                                            </div>
                                                {% endif %}
                                            {% endfor %}

                                        </div>
                                            {% endif %}
                                        {% endfor %}
                                        <div class="reviews-submit">
                                            <h4>Give your Review:</h4>

                                            <form method="post" >
                                            {% csrf_token %}
                                            <div class="row form">
                                                <div class="col-sm-12" id="movetocomment">
                                                    <input type="hidden" name="parent_id" value="" id="valueset">
                                                    <input type="text" name="body" placeholder="comment">
                                                </div>
                                                <div class="col-sm-12">
                                                    <button type="submit">Submit</button>
                                                </div>
                                            </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--endcomment-->

                    </div>
                    
                    <!-- Side Bar Start -->
                    {% include 'includes/sidebar.html' %}
                    <!-- Side Bar End -->
                </div>
            </div>
        </div>
        <!-- Product Detail End -->
        
        <!-- Brand Start -->
        {% include 'includes/brands.html' %}
        <!-- Brand End -->

    <script>
    function set_value(id) {
        document.getElementById('valueset').value = id;
        document.getElementById('movetocomment').scrollIntoView({behavior: 'smooth'})
    }
    </script>
{% endblock %}