{% extends 'base/base.html' %}
{% load static %}
{% block title %} Account | {{ request.user.phone }} {% endblock %}
{% block content %}
        <!-- UserUpdate Start -->
        <div class="login">
            <div class="container-fluid">
                <div class='align-content-md-center'>
                    <div class="col-lg-6">
                    </div>
                    <div class="col-lg-6">
                        <div class="login-form">
                            <div class="align-content-md-center">
                            <form method="post">
                                {% csrf_token %}
                                    {% for field in form %}
                                        <div class="form-group mb-3">
                                            {% if not field.label == 'image' %}
                                                {{ field.label }}:
                                                {{ field }}
                                                {% if field.label == 'Phone' %}
                                                    <a href="{% url 'account:change_password' %}"> <span class="btn btn-warning">reset password</span> </a>
                                                {% endif %}
                                            {% endif %}
                                            {% if field.label == 'Email Address' %}
                                                {% if not request.user.is_email_verify %}
                                                    <a href="{% url 'account:ev' %}"> <span class="btn btn-warning">verify email</span> </a>
                                                {% endif     %}
                                            {% endif %}
                                            {% if field.errors %}
                                                {% for error in field.errors %}
                                                    <div class="text-danger small">{{ error }}</div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                <div class="col-md-12">
                                    <button type="submit" class="btn" style="margin-top: 10px"> confirm </button>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- UserUpdate End -->
{% endblock %}